<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="E:\qfJavaNote\19_project\zkshopping\src\main\java\com\qf\pojo" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>